<div>
    <h3>Lista de productos</h3>


{{#if productos}}

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
        {{#each productos}}
        <tr>
        <td>{{titulo}}</td>
        <td>{{precio}}</td>
        <td><img src ="{{thumbnail}}" alt="{{titulo}}" width="100" > </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<h1>No hay productos</h1>
{{/if}}

</div>
       